body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
select {
  background-color: green;
  padding: 1%;
  border-radius: 15px;
}

input {
  border-radius: 20px;
  padding: 1%;
  background-color: green;
}
