body {
  background-color: red;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
select {
  background-color: orange;
  padding: 1%;
  border-radius: 15px;
}

input {
  border-radius: 20px;
  padding: 1%;
  background-color: orange;
}
